body {
  background-color: #e0f9fd;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #ffff;
  max-width: 600px;
  text-align: center;
  padding: 50px;
  color: #4e5254;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container header,
.container main {
  width: 100%;
  margin: 0 auto;
}

header img {
  width: 100px;
}

h1 {
  font-size: 28px;
}

h2 {
  text-align: left;
}

.rsvp-link {
  text-align: center;
}

button {
  color: #e98295;
  font-size: 16px;
  background-color: rgba(233, 130, 149, 0.1);
  padding: 20px;
  border: 1px solid #e98295;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  color: #7884bb;
}

footer {
  margin-top: 100px;
}

.floral-decoration img {
  width: 150px;
  height: auto;
  opacity: 0.2;
}
